
QPushButton#testBtn{
    background-color:rgb(39,39,39);
    color:white;
}

QPushButton#testBtn:hover{
    background-color:rgb(39,39,39);
    color:green;
}

QPushButton#openFileAndPlayBtn{
    background-color:rgb(39,39,39);
    color:white;
}

QPushButton#openFileAndPlayBtn:hover{
    background-color:rgb(39,39,39);
    color:green;
}
